/* styles.css */

/* Home Container */
.home-container {
    background-image: url('../Assets/250-2507513_teacher-with-students-hd.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 0 20px; /* Adjust padding as needed */
}

/* Home Title */
.home-title {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px; /* Adjust as needed */
}

/* Home Subtitle */
.home-subtitle {
    font-size: 24px;
    margin-top: 20px; /* Adjust margin as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Increased shadow for visibility */
    color: white; /* Set text color to white for better contrast */
}


/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}

/* Button Styles */
.btn-add-notes,
.btn-notebank,
.btn-get-started {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    margin-right: 10px;
}

/* Section Container */
.section-container {
    margin-top: 20px; /* Adjust top margin */
    padding: 20px; /* Padding around the section */
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

/* Section Title */
.section-title {
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Bold title */
    color: #343a40; /* Dark text color */
    margin-bottom: 20px; /* Bottom margin for spacing */
}

/* Card Container */
.card-container {
    justify-content: center;
    margin-top: 3rem;
}

/* Card Styling */
.scale-on-hover {
    transition: transform 0.3s ease;
}

.scale-on-hover:hover {
    transform: scale(1.05);
}

/* Marquee Container */
.marquee-container {
    overflow: hidden; /* Hide overflow */
    width: 100%; /* Full width */
}

/* Notes Container */
.notes-container {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Marquee Content */
.marquee-container marquee {
    display: flex; /* Flex display for horizontal scrolling */
    padding: 10px 0; /* Padding top and bottom */
}

.marquee-container marquee div {
    margin-right: 20px; /* Right margin between items */
}

.marquee-container marquee p {
    color: #868e96; /* Light text color */
}

/* Note Item */
.note-item {
    margin-left: 5rem;
    width: 400px;
}

/* Review Container */
.review-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Review Styling */
.review {
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.review img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
