.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/elevated-view-laptop-stationeries-yellow-backdrop_23-2147880496.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1712188800&semt=ais'); 
    background-size: cover; 
    background-position: center; 
}

.cardp {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); 
    text-align: center;
}

.cardp h2 {
    margin-bottom: 20px;
    color: #333333;
}
