
.footer {
    padding: 20px; 
    background-color: #343a40; 
    color: #ffffff; 
}


.footer ul.list-inline {
    padding-left: 0; 
    margin-bottom: 10px;
}

.footer ul.list-inline li {
    display: inline-block; 
    margin-right: 15px; 
}

.footer ul.list-inline li a {
    color: #ffffff; 
    text-decoration: none; 
}

.footer ul.list-inline li a:hover {
    color: #ffc107; 
    text-decoration: none; 
}


.footer ul.list-inline.d-flex.justify-content-end {
    padding-left: 0; 
}

.footer ul.list-inline.d-flex.justify-content-end li {
    margin-left: 15px; 
}

.footer ul.list-inline.d-flex.justify-content-end li a {
    color: #ffffff; 
    font-size: 20px; 
}

.footer ul.list-inline.d-flex.justify-content-end li a:hover {
    color: #ffc107; 
    text-decoration: none; 
}


.footer p {
    margin-bottom: 0; 
}

.footer p a {
    color: #ffffff; 
    text-decoration: none; 
}

.footer p a:hover {
    text-decoration: underline; 
}
